@import "tailwindcss";

.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback */
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
